[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiofiles = "*"
"bencode.py" = "*"
cachetools = "*"
cryptography = "*"
kademlia = "*"

[dev-packages]
coverage = "*"
docutils = "*"
flake8 = "*"
mypy = "*"
pycodestyle = "*"
pydocstyle = "*"
pytest = "*"
rinohtype = "*"
Sphinx = "*"
sphinxcontrib-autoprogram = "*"
sphinxcontrib-websupport = "*"
tox = "*"
validatedoc = "*"
pre-commit = "*"
